<a [routerLink]="['/product', product.id]" class="card">
  <div class="thumb" *ngIf="product.imageUrl; else noimg">
    <img [src]="product.imageUrl" [alt]="product.name">
  </div>
  <ng-template #noimg>
    <div class="thumb placeholder">Sin imagen</div>
  </ng-template>

  <h3 style="margin:8px 0 4px">{{ product.name }}</h3>
  <p class="desc" style="color:var(--muted);margin:0">{{ product.description }}</p>
  <div class="meta" style="display:flex;justify-content:space-between;align-items:center;margin-top:8px">
    <strong>Q{{ product.price }}</strong>
    <small style="color:var(--muted)">Stock: {{ product.stock }}</small>
  </div>
</a>